{% extends "header.html" %}
{% block content %}
<p> {{ error }} </p>
<div class="row">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
<!--                <button type="button" class="cancelbtn" data-dismiss="alert" aria-label="Close">-->
<!--                <span aria-hidden="true">×</span>-->
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>


<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    <ul class=flashes>-->
<!--    {% for message in messages %}-->
<!--      <li>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--  {% endif %}-->
<!--{% endwith %}-->
	<div class="row">
		<div class="wrap_header2">
			<div class="col-md-9">

				<div class="slideshow-container">
				<div class="mySlides fade">
				  <img src="static/images/6.jpeg" style="width:850px;height:250px;">
				</div>
				<div class="mySlides fade">
				  <img src="static/images/5.jpeg" style="width:850px;height:250px;">
				</div>
				<div class="mySlides fade">
				  <img src="static/images/3.jpeg" style="width:850px;height:250px;">
				</div>
				<div class="mySlides fade">
					<img src="static/images/2.jpeg" style="width:850px;height:250px;">
				</div>
			</div>
				<br>
				<div style="text-align:center">
				  <span class="dot"></span>
				  <span class="dot"></span>
				  <span class="dot"></span>
				  <span class="dot"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div>
					<h3 style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;">
						BLING UP YOUR LIFE WITH REGALIA<br><br>
						YOU choose - WE deliver
						<br>
						<br>
						{% if not loggedIn %}
						<div class="dropdown">
								<button type="button" onclick="document.getElementById('id01').style.display='none'"
								class="registerbtn">Register Here</button>
								<div class="dropdown-content">
									<a href="/registerationForm">User Registration </a>
									<a href="/vendorregisterationForm">Vendor Registration</a>
								</div>
						</div>		  
						{% else %}
						<button type="button" onclick="document.getElementById('id01').style.display='none'"
							  class="registerbtn"><a href="/">View Offers</a></button>
						{% endif %}
					</h3>
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br>

    <p align="center">SHOP BY CATEGORY</p>

    <!-- item section -->
  
    <div class="item_section layout_padding2">
      <div class="container">
        <div class="item_container">
          <div class="box">
            <div class="price">
              <h6>
                Best PRICE
              </h6>
            </div>
            <div class="img-box">
                <a href="">
              <img src="static/images/B1.jpeg" alt="">
              </a>
            </div>
            <div class="name">
              <h5>
                Platinum
              </h5>
            </div>
          </div>
          <div class="box">
            <div class="price">
              <h6>
                Best PRICE
              </h6>
            </div>
            <div class="img-box">
              <img src="static/images/shopping (3).webp" alt="">
            </div>
            <div class="name">
              <h5>
                Gold Ring
              </h5>
            </div>
          </div>
          <div class="box">
            <div class="price">
              <h6>
                Best PRICE
              </h6>
            </div>
            <div class="img-box">
              <img src="static/images/4.jpeg" alt="">
            </div>
            <div class="name">
              <h5>
                Diamonds
              </h5>
            </div>
          </div>
          <div class="box">
            <div class="price">
              <h6>
                Best PRICE
              </h6>
            </div>
            <div class="img-box">
              <img src="static/images/b2.jpeg" alt="">
            </div>
            <div class="name">
              <h5>
                Bracelet
              </h5>
            </div>
          </div>
          <div class="box">
            <div class="price">
              <h6>
                Best PRICE
              </h6>
            </div>
            <div class="img-box">
              <img src="static/images/shopping.webp" alt="">
            </div>
            <div class="name">
              <h5>
                Earring
              </h5>
            </div>
          </div>
          <div class="box">
            <div class="price">
              <h6>
                Best PRICE
              </h6>
            </div>
            <div class="img-box">
              <img src="static/images/neckwear.jpeg" alt="">
            </div>
            <div class="name">
              <h5>
                Neckwear
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
	<section class="price_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>
              Our Jewellery Auction
            </h2>
          </div>
          <div class="price_container">
            <div class="box">
              <div class="name">
                <h6>
                  Diamond Ring
                </h6>
              </div>
              <div class="img-box">
                <img src="static/images/a.webp" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  $<span>1000.00</span>
                </h5>
                <a href="">
                  BID Now
                </a>
              </div>
            </div>
            <div class="box">
              <div class="name">
                <h6>
                  Diamond Ring
                </h6>
              </div>
              <div class="img-box">
                <img src="static/images/2_3_3000x.webp" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  $<span>1000.00</span>
                </h5>
                <a href="">
                  BID Now
                </a>
              </div>
            </div>
            <div class="box">
              <div class="name">
                <h6>
                  Diamond Ring
                </h6>
              </div>
              <div class="img-box">
                <img src="static/Images/d1.jpeg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  $<span>1000.00</span>
                </h5>
                <a href="">
                  BID Now
                </a>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="" class="price_btn">
              See More
            </a>
          </div>
        </div>
      </section>
	<!-- <div class="row">
	<div class="col-md-12">
		<div>
			<h2 align="left" style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;"><span> Trending Items </span> </h2>
		</div>

		<div  id="wrapper">


	<div class="product-container">

		{% for data in itemData %}
				{% for row in data %}
    <div class="product-card">

        <div class="product-image">
            <span class="discount-tag">15% off</span>-->
			<!-- <a href="/productDescription?productId={{row.productid}}">
			<img src="{{ row.image }}"/>
			</a>
        </div>

        <div class="product-info">
            <p class="product-short-des">{{ row.description }} </p>
			<form action="/addToCart" method="POST" type="submit" onsubmit="return validate();">
				<select id="weightSel" class="weightSel" name="weight" size="1" required>
					{% for wps in row[-1].split(",") %}
					<option value="{{ wps.split('-')[2] }} - {{ wps.split('-')[0] }} ">{{ wps.split("-")[0] }} -  &#8377 {{ wps.split("-")[1]  }}</option>
					{% endfor %}
				</select>
				<div id="addToCart" >
				<a><p><input type="submit" value="Add to Cart"></p>  </a>
				</div>
			</form>
        </div>
    </div>
		{% endfor %}
		{% endfor %}
		<button class="pre-btn"><img src="static/images/arrow.png" alt=""></button>
		<button class="nxt-btn"><img src="static/images/arrow.png" alt=""></button>
	</div>
        </div>
		</div>
	</div> --> 

{% if loggedIn %}
<div class="row">
	<div class="col-md-12">
		<br>
		<h2 align="left" style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;"><span> Recommended Items </span> </h2>
		<div  id="wrapper">
	<div class="product-container">

		{% for data in recommendedProducts %}
		{% for row in data %}
    <div class="product-card">

        <div class="product-image">
<!--            <span class="discount-tag">15% off</span>-->
			<a href="/productDescription?productId={{row.productid}}">
			<img src="{{ row.image }}"/>
			</a>
        </div>

        <div class="product-info">
            <p class="product-short-des">{{ row.description }} </p>
			<form action="/addToCart" method="POST" type="submit" onsubmit="return validate();">
				<select id="weightSel" class="weightSel" name="weight" size="1" required>
					{% for wps in row[-1].split(",") %}
					<option value="{{ wps.split('-')[2] }} - {{ wps.split('-')[0] }} ">{{ wps.split("-")[0] }} -  &#8377 {{ wps.split("-")[1]  }}</option>
					{% endfor %}
				</select>
				<div id="addToCart" >
				<a><p><input type="submit" value="Add to Cart"></p>  </a>
				</div>
			</form>
        </div>
    </div>
		{% endfor %}
		{% endfor %}
		<button class="pre-btn"><img src="static/images/arrow.png" alt=""></button>
		<button class="nxt-btn"><img src="static/images/arrow.png" alt=""></button>
	</div>
        </div>
		</div>
	</div>
{% endif %}
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Company Name © 2018</p>
                </div>
            </div>
        </div>
    </footer>
  </div>
{% endblock %}
