{% extends "header.html"  %}
{% block content %}
<div class="page-title fix"><!--Start Title-->
	<div class="overlay section">
		<h2>Shop</h2>
	</div>
</div><!--End Title-->



<div class="shop-product-area section fix"><!--Start Shop Area-->
	<div class="container">
		<div class="row">
			
			<div class="shop-products">
				{% for data in itemData %}
			<!-- Single Product Start -->
				<div class="col-sm-4 col-md-3 fix">
					<div class="product-item fix">
						<div class="product-img-hover">
							<!-- Product image -->
							<a href="/productDescription?productId={{data.productid}}" class="pro-image fix"><img src="{{ data.image }}" alt="product" /></a>
							<!-- Product action Btn -->
							<div class="product-action-btn">
								<a class="quick-view" href="#"><i class="fa fa-search"></i></a>
								<a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
								<a class="add-cart" href="#"><i class="fa fa-shopping-cart"></i></a>
							</div>
						</div>
						<div class="pro-name-price-ratting">
							<!-- Product Name -->
							<div class="pro-name">
								<a href="product-details.html">{{data.product_name}}</a>
							</div>
							<!-- Product Ratting -->
							<div class="pro-ratting">
								<i class="on fa fa-star"></i>
								<i class="on fa fa-star"></i>
								<i class="on fa fa-star"></i>
								<i class="on fa fa-star"></i>
								<i class="on fa fa-star-half-o"></i>
							</div>
							<!-- Product Price -->
							<div class="pro-price fix">
								<p><span class="old">&#8377 {{data.regular_price}}</span><span class="new">&#8377 {{data.discounted_price}}</span></p>
							</div>
						</div>
					</div>
				</div><!-- Single Product End -->
				{% endfor %}			
			</div>
			

		</div>
	</div>
</div><!--Start Shop Area-->

<div class="row">
	<div class="col-md-12">
		<br>
		<h2 align="left" style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;"><span> Recommended Items </span> </h2>
		<div  id="wrapper">
	<div class="product-container">

		{% for data in recommendedProducts %}
		{% for row in data %}
    <div class="product-card">

        <div class="product-image">
<!--            <span class="discount-tag">15% off</span>-->
			<a href="/productDescription?productId={{row.productid}}">
			<img src="{{ row.image }}"/>
			</a>
        </div>

        <div class="product-info">
            <p class="product-short-des">{{ row.description }} </p>
			<form action="/addToCart" method="POST" type="submit" onsubmit="return validate();">
				<select id="weightSel" class="weightSel" name="weight" size="1" required>
					{% for wps in row[-1].split(",") %}
					<option value="{{ wps.split('-')[2] }} - {{ wps.split('-')[0] }} ">{{ wps.split("-")[0] }} -  &#8377 {{ wps.split("-")[1]  }}</option>
					{% endfor %}
				</select>
				<div id="addToCart" >
				<a><p><input type="submit" value="Add to Cart"></p>  </a>
				</div>
			</form>
        </div>
    </div>
		{% endfor %}
		{% endfor %}
		<button class="pre-btn"><img src="static/images/arrow.png" alt=""></button>
		<button class="nxt-btn"><img src="static/images/arrow.png" alt=""></button>
	</div>
        </div>
		</div>
</div>

{% endblock content %}